{% extends 'layouts/home.html' %} 
{% block tittle %} Tabla {% endblock %} 

{% block contents %}
<div class="row">
    <div class="col-sm-12">
        <h1 class="text-center">Datos de la tabla {{ database }}.{{ table }} </h1>
    </div>
</div>
<div class="row mt-4">
    <a href="{{ url_for('listTables', name=database) }}">Volver</a>
</div>

<table class="table"> 
    <thead>
        <tr>
        {% for field in fields %}        
            <th>{{ field[0] }}</th>
        {% endfor %}
        </tr>
    </thead>

    <tbody>
        {% for d1 in data %} 
            <tr>
                {% for t in d1 %} 
                    <td>{{ t }}</td>
                {% endfor %} 
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}