{% extends 'layouts/home.html' %} {% block tittle %} Users {% endblock %} {% block contents %}
<h1>Users List</h1>

<a href="{{ url_for('listUsers') }}">List register</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Lastname</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Password</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user['iduser'] }}</td>
            <td>{{ user['name'] }}</td>
            <td>{{ user['lastname'] }}</td>
            <td>{{ user['phone'] }}</td>
            <td>{{ user['email'] }}</td>
            <td>{{ user['password'] }}</td>
        </tr>
        {%endfor%}
    </tbody>
</table>

{% endblock %}